/* small custom tweaks */
html,body,#root {
  height: 100%;
}

body {
  background: linear-gradient(180deg, rgba(7,10,14,1) 0%, rgba(11,15,20,1) 40%, rgba(6,8,12,1) 100%);
  color: #e6eef0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
